# --- Aliases ---

# Source reload
alias reload.zsh="source $HOME/.zshrc"
alias reload.env="source $HOME/.zshenv"

# Dotfiles is a git alias to manage the dotfiles in your home directory
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"

# Set autocompletion for dotfiles when shell is ZSH
if [ -n "$ZSH" ]; then
   compdef dotfiles="git"
fi

# ls
alias ll="ls -Alh"

# Source optional aliases 
include ~/.aliases.local
