# --- Aliases ---

# Source reload
alias reload.zsh="source $HOME/.zshrc"

# Dotfiles is a git alias to manage the dotfiles in your home directory
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"
compdef dotfiles="git"

# ls
alias ll="ls -Alh"

# Source optional aliases 
include ~/.aliases.local
