# --- Functions ---

#
# SSH Agent
#
# Start ssh agent and source environment
function start_ssh_agent {
     echo "Initialising new SSH agent..."
     /usr/bin/ssh-agent -t ${SSH_KEY_LIFETIME} | sed 's/^echo/#echo/' > "${SSH_ENV}"
     chmod 600 "${SSH_ENV}"
     source "${SSH_ENV}" > /dev/null
}

# Source SSH settings, if applicable
function load_ssh_agent {
    if [ -z "$XDG_CURRENT_DESKTOP" ]; then
        if [ -f "${SSH_ENV}" ]; then
            source "${SSH_ENV}" > /dev/null
            #ps ${SSH_AGENT_PID} doesn't work under cywgin
            ps -ef | grep ${SSH_AGENT_PID} | grep "ssh-agent -t ${SSH_KEY_LIFETIME}$" > /dev/null || {
                start_ssh_agent;
            }
        else
            start_ssh_agent;
        fi
    fi
}

#
# Helper functions
#
# Include optional files
include() {
    [[ -f "$1" ]] && source "$1"
}

# Include the local functions
include ~/.functions.local
