# Ignore the vscode extensions directory
.vscode/

# Ignore everything in .config directory
**/.config/*
**/.config/*/

# Allow tmux config dir except plugins
!tmux/.config/tmux/
tmux/.config/tmux/plugins/

# Ignore everything in local/share except (zsh)
**/.local/*
**/.local/*/
!**/.local/share/zsh/
