# Ignore the vscode extensions directory
.vscode/

# Ignore everything in .config directory
**/.config/*
**/.config/*/

# Allow tmux config dir except plugins
!**/.config/tmux/
**/.config/tmux/*
!**/.config/tmux/plugins/
**/.config/tmux/plugins/*
!**/.config/tmux/plugins/tpm/
!**/.config/tmux/tmux.config

# Allow Neovim config
!**/.config/nvim/

# Allow Wezterm config
!**/.config/wezterm/

# Ignore vim except pack
**/.vim/*
**/.vim/*/
!**/.vim/pack/

# Ignore everything in local/share except (zsh)
**/.local/*
**/.local/*/
!**/.local/share/zsh/

# Ignore node modules
**/node_modules/
