# Ignore everything
/*

# Allow configuration files
!.gitignore
!.gitmodules

# Allow readme and docs
!README.md
!.docs/

# Allow ssh configuration
!.ssh/config

# Allow vim configuration files
.vim/.netrwhist
!.vimrc
!.vim/

# Allow zsh configuration files
!.aliases
!.aliases.local.example
!.functions
!.zshenv
!.zshenv.local.example
!.zshrc

# Allow oh-my-zsh plugin directory
!.oh-my-zsh/custom/
!.oh-my-zsh/custom/**

# Allow tmux configuration files
!.tmux.conf
!.tmux/plugins/tpm

# Allow other configuration files
!.npmrc
