[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "zsh/.local/share/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "zsh/.local/share/zsh/themes/dracula"]
	path = zsh/.local/share/zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
	branch = master
[submodule "zsh/.local/share/zsh/plugins/zsh-nvm"]
	path = zsh/.local/share/zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
	branch = master
