# --- Aliases ---

# Source reload
alias reload.zsh="source $HOME/.zshrc"
alias reload.env="source $HOME/.zshenv"

#
# Git alias for redirecting git command to Windows, when in the Windows
# file system.
#
# Note that this is an temporary work around, to fix the file system
# performance of git commands
function git {
  if isWinDir; then
    git.exe "$@"
  else
    /usr/bin/git "$@"
  fi
}

# ls
alias ll="ls -Alh"

# Source optional aliases 
include ~/.aliases.local
