name: "Update submodule references"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * 5' # Run every friday at 23:00
jobs:
  update-submodule-references:
    name: "Update submodule references"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: "Run make submodule.update"
        run: make submodule.update
      - name: Commit update
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit -am "Updated submodule references" && git push || echo "No changes to commit"
